name: PR Merged

on:
  pull_request:
    types: [closed]
    branches: [master]

permissions:
  pull-requests: read

jobs:
  send-pr-merged-notification:
    if: github.event.pull_request.merged == true
    uses: domengabrovsek/github-actions/.github/workflows/pr-merged.yml@master
    with:
      api_url: ${{ vars.TELEGRAM_API_URL }}
      chat_id: ${{ vars.TELEGRAM_CHAT_ID }}