name: PR Opened

on:
  pull_request:
    types: [opened]
    branches: [master]

permissions:
  pull-requests: read

jobs:
  send-pr-opened-notification:
    uses: domengabrovsek/github-actions/.github/workflows/pr-opened.yml@master
    with:
      api_url: ${{ vars.TELEGRAM_API_URL }}
      chat_id: ${{ vars.TELEGRAM_CHAT_ID }}